@media screen and (min-width: 500px) {
    /* main */

    main {
        padding-top: max(calc(100vh - 100px), 500px);
    }

    section {
        position: absolute;
        width: 300px;
    }

    #weather_header::after {
        content: " ⛅";
    }

    #weather_emoji {
        display: unset;
    }

    #weather_svg {
        display: none;
    }

    section:first-of-type {
        top: 150px;
        left: 10vw;
    }

    section:last-of-type {
        top: 400px;
        right: 10vw;
    }
}